<!DOCTYPE html>
<html lang="fr">
  <head>
    {% block head %}
        <title>Blog de Clément</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="vendor\twbs\bootstrap\dist\css\bootstrap.min.css" rel="stylesheet">
    {% endblock %}
  </head>

  <body>

    <p>Hey</p>
    
    <script src="vendor\twbs\bootstrap\dist\js\bootstrap.min.js"></script>
  </body>

</html>