{% extends 'layout.html.twig' %}

{% block content %}

<div class="container my-5 pt-5">
  <div class="row text-center">
    <div class="col-md-12">
      <img src="{{__DIR__}}/images/lost.jpg" class="rounded img-fluid" alt="perdu">
      <p><q>Se perdre est une façon dangereuse de se trouver.</q></p>
      <a class="btn btn-secondary" href="/">Revenir a l'accueil</a>
    </div>
  </div>
</div>

{% endblock %}