{% extends 'layout.html.twig' %}

{% block content %}

<header class="mt-4">
  <div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
      <h1 class="display-4">Lionne Clément</h1>
      <p class="lead">Un développeur PHP/Symfony à retrouver sur</p>
      <a href="https://www.linkedin.com/in/lionne-cl%C3%A9ment/" target="_blank"><i class="fa fa-linkedin-square" style="font-size:40px"></i></a>
      <a href="https://github.com/lionneclement" target="_blank"><i class="fa fa-github" style="font-size:40px"></i></a>
    </div>
  </div>
</header>

<section>
  <div class="container">
    <div class="row text-center">
      <div class="col-md-6">
        <img src="images/me.jpg" class="rounded img-fluid" alt="moi">
      </div>
      <div class="col-md-6">
        <h1>Beaucoup de blabla</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <a href="images/cv.pdf" target="_blank" class="btn btn-secondary">Curriculum Vitae</a>
      </div>
    </div>
  </div>
</section>
<section> 
  <div class="container py-5" id="contact">
    <h1 class="text-center">Contact</h1>
    {% if alert_reCAPTCHA %}
      <div class="alert alert-danger" role="alert">
        Vous devez remplir le reCAPTCHA!
      </div>
    {% endif %}
    {% if alert_success %}
      <div class="alert alert-success" role="alert">
          Votre message viens d'être envoyer.
      </div>
    {% endif %}
    {% if alert_nom %}
      <div class="alert alert-danger" role="alert">
        Rentré un nom valide
      </div>
    {% endif %}
    {% if alert_prenom %}
      <div class="alert alert-danger" role="alert">
        Rentré un prenom valide
      </div>
    {% endif %}
    {% if alert_email %}
      <div class="alert alert-danger" role="alert">
        Rentré un email valide
      </div>
    {% endif %}
    {% if alert_message %}
      <div class="alert alert-danger" role="alert">
        Rentré un message valide
      </div>
    {% endif %}
    <form method="post" class="needs-validation" novalidate action="/">
      <div class="row">
      <div class="col-6 form-group">
        <label for="FormControlInput1">Nom</label>
        <input type="text" name="nom" class="form-control" id="FormControlInput1" placeholder="Pierre" required>
        <div class="invalid-feedback">
          Ce champ est obligatoire.
        </div>
      </div>
      <div class="col-6 form-group">
        <label for="FormControlInput2">Prénom</label>
        <input type="text" name="prenom" class="form-control" id="FormControlInput2" placeholder="Dubois" required>
        <div class="invalid-feedback">
          Ce champ est obligatoire.
        </div>
      </div>
      <div class="col-6 form-group">
        <label for="FormControlInput3">Email address</label>
        <input type="email" name="email" class="form-control" id="FormControlInput3" placeholder="pierre.dubois@gmail.com" required>
        <div class="invalid-feedback">
          Ce champ est obligatoire.
        </div>
      </div>
      <div class="col-6 form-group">
        <label for="FormControlInput4">Message</label>
        <textarea name="message" class="form-control" id="FormControlInput4" required></textarea>
        <div class="invalid-feedback">
          Ce champ est obligatoire.
        </div>
      </div>
      <div class=" col-12 text-center">
        <div class="g-recaptcha" style="display: inline-block;" data-sitekey="6Lcchd8UAAAAAGGYJk2Va2WRULZIRGdYMc3rclaL"></div>
      </div>
      <div class="col text-center mt-4" >
      <button type="submit" class="btn btn-secondary btn-lg">Confirm identity</button>
      </div>
    </div>
    </form>
  </div>
</section>
{% endblock %}