{% extends 'layout.html.twig' %}

{% block content %}
<section class='pt-5'> 
  <div class='pt-5 text-center'>
    <a class='btn btn-secondary' href="admin\addpost">Ajouter un article</a>
    <a class='btn btn-secondary' href="admin\roles">Gérer les utilisateurs</a>
    <a class='btn btn-secondary' href="admin\allcomment">Gérer tout les commentaires</a>
    <a class='btn btn-secondary' href="admin\invalidecomment">Gérer tout les commentaires invalide</a>
  </div>
</section>
{% endblock %}