{% extends 'layout.html.twig' %}

{% block content %}
<section class='pt-5'> 
  <div class='pt-5 text-center'>
    <a href="admin\addpost">Ajouter un article</a>
    <br>
    <a href="admin\roles">Gérer les utilisateurs</a>
  </div>
</section>
{% endblock %}