{% extends 'layout.html.twig' %}

{% block content %}
<section class='pt-5 mt-5'> 
  <div class="container">
    <h1 class="text-center">Login</h1>
    <form method="post" action="/login" class="needs-validation" novalidate>
      <div class="row">
      <div class="col-6">
        <label for="FormControlInput1">Email</label>
        <input class="form-control" type="email" name="email" id="FormControlInput1" required>
        <div class="invalid-feedback">
          Ce champ est obligatoire.
        </div>
      </div>
      <div class="col-6">
        <label for="FormControlInput2">Mot de passe</label>
        <input type="password" name="mdp" class="form-control" id="FormControlInput2" required>
        <div class="invalid-feedback">
          Ce champ est obligatoire.
        </div>
      </div>
      
      <div class="col text-center mt-4">
      <button type="submit" class="btn btn-secondary">Confirme</button>
      </div>
    </div>
    </form>
  </div>
</section>
{% endblock %}