{% extends 'layout.html.twig' %}

{% block content %}
<section> 
  <div class="container py-5 mt-5">
    {% if alert == 'true'%}
      <div class="alert alert-success" role="alert">
        Votre mot de passe à bien été modifier
      </div>
    {% endif %}
    {% if alert == 'false'%}
      <div class="alert alert-danger" role="alert">
        Erreur dans le mot de passe actuel
      </div>
    {% endif %}
    {% if checking.mdp %}
      <div class="alert alert-danger" role="alert">
        Votre nouveau mot de passe n'est pas valide il doit contenir minimum 13 caractère
      </div>
    {% endif %}
    <h1 class="text-center">Modifier votre mot de passe</h1>
    <form method="post" action="/admin/updatepassword" class="needs-validation" novalidate>
      <div class="row">
      <div class="col-6">
        <label for="FormControlInput1">Mot de passe actuel</label>
        <input type="password" name="oldpassword" class="form-control" id="FormControlInput1" required>
        <div class="invalid-feedback">
          Ce champ est obligatoire.
        </div>
      </div>
      <div class="col-6">
        <label for="FormControlInput2">Nouveau mot de passe</label>
        <input type="password" name="newpassword" class="form-control" id="FormControlInput2" required>
        <div class="invalid-feedback">
          Ce champ est obligatoire.
        </div>
      </div>
      </div>
      <div class="col text-center mt-4">
      <button type="submit" class="btn btn-secondary">Confirm</button>
      </div>
    </div>
    </form>
  </div>
</section>
{% endblock %}