{% extends 'layout.html.twig' %}

{% block content %}
<section> 
  <div class="container py-5 mt-5">
    <h1 class="text-center">Modifier votre profil</h1>
    {% if alert %}
      <div class="alert alert-success" role="alert">
        Votre profil à été mis à jour.
      </div>
    {% endif %}
    {% if checking.nom %}
      <div class="alert alert-danger" role="alert">
        Rentré un nom valide
      </div>
    {% endif %}
    {% if checking.prenom %}
      <div class="alert alert-danger" role="alert">
        Rentré un prenom valide
      </div>
    {% endif %}
    {% if checking.email %}
      <div class="alert alert-danger" role="alert">
        Rentré un email valide
      </div>
    {% endif %}
    <form method="post" action="/admin/updateuser" class="needs-validation" novalidate>
      <div class="row">
      <div class="col-6">
        <label for="FormControlInput1">Nom</label>
        <input type="text" name="nom" class="form-control" id="FormControlInput1" value='{{user.nom}}' required>
        <div class="invalid-feedback">
          Ce champ est obligatoire.
        </div>
      </div>
      <div class="col-6">
        <label for="FormControlInput2">Prenom</label>
        <input type="text" name="prenom" class="form-control" id="FormControlInput2" value='{{user.prenom}}' required>
        <div class="invalid-feedback">
          Ce champ est obligatoire.
        </div>
      </div>
      <div class="col-6">
        <label for="FormControlInput3">Email</label>
        <input type="email" name="email" class="form-control" id="FormControlInput3" value='{{user.email}}' required>
        <div class="invalid-feedback">
          Ce champ est obligatoire.
        </div>
      </div>
      <div class="col text-center mt-4">
        <button type="submit" class="btn btn-secondary">Confirm identity</button>
        <a href="/admin/updatepassword" class="btn btn-secondary">Modifier le mot de passe</a>
      </div>
    </div>
    </form>
  </div>
</section>
{% endblock %}