<!DOCTYPE html>
<html lang="fr">
  <head>
    {% block head %}
        <title>Blog de Clément</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="\dist\css\bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="\css\mystyle.css">
    {% endblock %}
  </head>

  <body>
    <!-- Menu --> 
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-secondary">
      <div class="container">
        <a class="navbar-brand" href="/">Le blog d'un junior</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarText"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav nav ml-auto nav-pills">
            <li class="nav-item">
              <a class="nav-link" href="/">Accueil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/post/findAll">Articles</a>
            </li>
            {% if not role %}
            <li class="nav-item">
              <a class="nav-link" href="/auth/login">Se connecter</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/auth/register">S'inscrire</a>
            </li>
            {% endif %}
            {% if role %}
              {% if role == 3 %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown">
                    Admin
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/post/addpost">Ajouter un article</a>
                    <a class="dropdown-item" href="/admin/roles">Gérer les utilisateurs</a>
                    <a class="dropdown-item" href="/admin/allcomment">Gérer tout les commentaires</a>
                    <a class="dropdown-item" href="/admin/allinvalidecomment">Gérer tout les commentaire invalide</a>
                  </div>
                </li>
              {% endif %}
              <li class="nav-item">
                <a class="nav-link" href="/admin/updateuser">Profil</a>
              </li>
              <li class="nav-item">
              <a class="nav-link" href="/auth/logout">Se deconnecter</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <!-- Content -->
    {% block content %}
    
    {% endblock %}
    
    <!-- Footer -->
    <footer class="pt-3">
      <div class="footer-copyright text-center py-3 bg-secondary">
        Copyright © 2020 | Propulsé par
        <a
          href="https://www.linkedin.com/in/lionne-cl%C3%A9ment/"
          target="_blank"
          >Lionne Clément</a
        >
      </div>
    </footer>
    <script>
      (function() {
        'use strict';
        window.addEventListener('load', function() {
          var forms = document.getElementsByClassName('needs-validation');
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
      </script>
    <script>
      window.onload = function() {
        var $recaptcha = document.querySelector('#g-recaptcha-response');
        if($recaptcha) {
            $recaptcha.setAttribute("required", "required");
        }
      };
    </script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="\dist\js\bootstrap.min.js"></script>
    
  </body>

</html>