{% extends 'layout.html.twig' %}

{% block content %}
<section> 
  <div class="container py-5 mt-5">
    {% if alert_mdp %}
      <div class="alert alert-danger" role="alert">
        Rentré un mot de passe de plus de 13 caractère
      </div>
    {% endif %}
    {% if alert_success %}
      <div class="alert alert-success" role="alert">
        Bravo vous venez de changer de mot de passe.
      </div>
    {% endif %}
    <h1 class="text-center">Votre nouveau mot de passe</h1>
    <form method="post" action="/password/reset/{{id}}/{{url}}" class="needs-validation" novalidate>
      <div class="row">
        <div class="col-6">
          <label for="FormControlInput1">Nouveau mot de passe</label>
          <input type="password" name="newpassword" class="form-control" id="FormControlInput1" minlength="13" required>
          <div class="invalid-feedback">
            Ce champ est obligatoire et doit comporter 13 caractères minimums.
          </div>
        </div>
        <div class="col-6 text-center mt-4">
            <button type="submit" class="btn btn-secondary">Confirm</button>
        </div>
      </div>
    </form>
  </div>
</section>
{% endblock %}